server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver

  mail:
    host: smtp.gmail.com
    port: 587
    username: 0anade0@gmail.com
    password: xzzehazmsvflghpr
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_s_
library:
  reservation:
    max-active: 3

minio:
  endpoint: http://localhost:9000
  access-key: minio
  secret-key: minio123
  bucket: book-covers

  mustache:
    expose-request-attributes: true
